<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Mapeando servlets con XML -->
	<!--<servlet>
			<servlet-name>AnotacionServlet</servlet-name>
			<servlet-class>com.richi.capas.servlets.AnotacionServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>AnotacionSerlvet</servlet-name>
			<url-pattern>/main</url-pattern>
		</servlet-mapping>--> 
</web-app>